*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-right: 80px;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
    font-size: 22px;
    color: #828585d2;
}

.list-item:first-child{
    color: #000000;
}

.nav-button{
    border: none;
    background-color: #5c62d0;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
}
nav button{
    height: 70px;
    width: 200px;
    padding: 15px 20px;  
    font-size: 22px;
    font-weight: 500;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    top: 100px;
}

.heading-text{
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #332e6d;
    
}

span {
    color: #645cbf;
}
.description{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: #b1afaf;
    padding-top: 50px;
     
}
.banner-container img{
    position: relative;
    top: 100px;
}

.btn {
    position: absolute;
    bottom: 50px;
    height: 100px;
    width: 300px;
    font-size: 25px;
    border-radius: 15px;
    
} 